name: Whatsapplink scrape

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 11 * * 6'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.8 ]
        
        

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Fetch latest data
      run: |
        automate download.py
    - name: Commit and push if it changed
      run: |
        git config --local user.name actions-user
        git config --local user.email "actions@github.com"
        git add data/*
        timestamp=$(date -u)
        git commit -am "ACTION Headlines $(date)"
        git push origin main
      env:
        REPO_KEY: ${{secrets.GITHUB_TOKEN}}
        username: github-actions
